{% extends "base.html" %}
{% block content%}

{{player}}

    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s12 valign">
          <!-- Primary Black Card -->
          <div class="card grey darken-4">
            <div class="card-content white-text">
              <span class="card-title">Slabs Against Mankind</span>
              <p>
                {{"Get black card from array of JSON Objects"}}
              </p>
              <hr/>
            </div>
          </div>

          <!-- White Card -->
          <form action="">
          {% for i in range(4)%}
          <div class="card grey white">
            <div class="card-content black-text">
              <p>{{"Get white card from array of JSON Objects"}}
              </p>
              <a class="btn-floating waves-effect waves-light red right"><i class="material-icons">add</i></a>
            </div>
          </div>
          <br>
          {% endfor %}
          <button class="btn btn-large waves-effect waves-light right" type="submit" name="action">Submit</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
