{% extends "base.html" %}
{% block content%}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

    <div class="container">
    <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card grey lighten-5">
        <div class="card-content">
          <span class="card-title">Slabs Against Humanity</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus pellentesque sapien ut tincidunt. Cras elit nisi, luctus pellentesque neque nec, commodo posuere mauris.</p>
          <hr/>
						<div class="input-field">
							<input type="text" name="username" id="username" class="validate">
							<label for="username">Username</label>
						</div>
        </div>
        <div class="card-action">
          <button class="btn" onclick='play("join",$("#username").val())'>Join Game</button>
          <button class="btn right" onclick='play("watch","")'>Watch</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
